*, body {
  margin: 0;
  font-family: "Anton", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

#root {
  width: 100%;
  overflow-x: hidden;
}

@media (orientation: portrait) {
  #root {
    transform: rotate(0deg);
  }
}
@media (orientation: landscape) {
  #root {
    transform: rotate(90deg);
  }
}